.about {
  &__hero {
    background-image: url('../img/background.jpg');
    background-color: $primary-color;
    background-blend-mode: exclusion;
  }

  &__hero__main-title {
    color: $white;
  }

  &__hero__subtitle {
    font-size: 1em;
    color: $white;

    @include breakpoint("medium-landscape") {
      font-size: 1.875em;
    }
  }

  &__links {
    padding: 2.1875rem 1rem 1.25rem;

    @include breakpoint("medium") {
      text-align: center;
    }

    li {
      color: $black;
    }

  }
}
