%cta {
  font-size: 0.9375em;
  border-radius: 2.5rem;
  padding: 0.9375rem;
  max-width: 12.1875rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s ease-in-out;

  @include breakpoint("larger") {
    padding: 1.25rem 0.9375rem;
    max-width: 13.1875rem;
    font-size: 1em;
  }
}

.link {
  color: $white;
  transition: all .3s ease-in-out;

  &:hover, &:focus {
    color: $putty;
  }
}
