.footer {
  background-color: $port-gore;
  color: $white;
  text-align: center;
  padding: 2.1875rem 0 0.625rem;

  p {
    max-width: 80%;
    margin: 0 auto 1.25rem;
  }

  &__cta {
    margin-bottom: 1.25rem;
    display: inline-block;
  }

  .social-media__links li {
    display: block;
  }
}
