.social-media__links {
  li {
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .9375rem;

    @include breakpoint("medium") {
      font-size: 1.25em;
      margin-left: 1.875rem;
    }

    &:first-child {
      @include breakpoint("medium") {
        margin-left: 0;
      }
    }
  }

  a {
    font-weight: normal;
    cursor: pointer;

    &:focus, &:hover {
      color: $putty;
    }
  }

  small {
    font-size: .75em;
  }

  i {
    font-size: 1.125em;
    margin-right: .3125rem;
    vertical-align: middle;
  }
}
