.speakers {
  background-color: $mercury;
  height: 24.375rem;
  padding-top: 3.75rem;
  text-align: center;

  .section-title {
    color: $black;
  }

  .cta {
    @extend %cta;
    background-color: $cloud-burst;
    color: $white;
    display: inline-block;
    width: 11.25rem;

    &:hover, &:focus {
      background-color: $putty;
    }
  }

  p {
    font-size: 1em;
    color: $black;
    width: 80%;
    line-height: 1.4;
    margin: 1.5625rem auto 1.25rem;
  }

  &__title {
    font-size: 1.25em;
    margin-top: 1.5625rem;
  }

  .link {
    color: $san-marino;
  }
}
