.speakers {
  border-top: 1px solid $putty;
  background-color: $white;
  padding-top: 3.75rem;
  text-align: center;

  .section-title {
    color: $black;
  }

  .cta {
    @extend %cta;
    background-color: $cloud-burst;
    color: $primary-color;
    display: inline-block;
    width: 11.25rem;

    &:hover, &:focus {
      background-color: $putty;
    }
  }


  &__title {
    font-size: 1.25em;
    margin-top: 1.5625rem;
  }

  .link {
    color: $san-marino;
  }

  &__item {
    text-align: left;
    margin-bottom: 2rem;

    @include breakpoint("medium-landscape") {
      @include grid-column(6);
    }

    img {
      max-width: 90%;
      margin: 0 auto 2rem;
      border: 2px solid $san-marino;
      border-radius: 5px;
    }
  }

  &__item__title {
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5;
  }
  &__item__name {
    font-size: 1.125em;
    margin-left: 1rem;
    margin-right: 1rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;

  }
  &__item__text {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    margin-top: 1.250rem;
    line-height: 1.8;
    font-size: 1em;
  }
}
