{% load static %}

<div class="banner">
  <div class="flex-row flex-fill">
    <div class="flex-col left">
        <div class="center"><img src="{% static "images/logo.png" %}" /></div>

    </div>
    <div class="flex-col right">
      <div class="inner-content">
        <div>
        <h1>17, 18 y 19 de Noviembre</h1>
        <h2>Ciudad Universitaria UNC, Cordoba, Argentina</h2>
        <ul >
          <li>IRC: irc.freenode.org <a href="irc://irc.freenode.org:6697/pyar">#pyar</a> (usuarios tutuca y gaucho)</li>
          <li>e-mail: <a href="mailto:pycon@pyar.org.ar">pycon@pyar.org.ar</a></li>
          <li>Twitter: <a href="http://twitter.com/@pyconar">@pyconar</a></li>
        </ul>
        <div class="cto">
          <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Inscribite!</a>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
