/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0;
  border: 0;
  -webkit-appearance: none; }

img {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: 0 none; }

.group,
.clear {
  *zoom: 1; }
  .group:before, .group:after,
  .clear:before,
  .clear:after {
    content: " ";
    display: table; }
  .group:after,
  .clear:after {
    clear: both; }

/* use http://chir.ag/projects/name-that-color/ to name colors the good way */
/*
  px to rem
  Converts pixels to rem

  @param{pixelvalue}

  @example scss - Usage
    margin-left: rem(25);

  @example css - CSS Output
    $dimension: 1.5625rem;

  @return {Number (rem)}
*/
/*
  px to em
  Convert pixels to em

  @param{pixelvalue}

  @example scss - Usage // with parent 16px
    font-size: em(12);

  @example css - CSS Output
    font-size: 0.750em;

  @return {Number (em)}

  ~ if the parent is another value say 24px write em(12, 24)
*/
/*
  Strips the unit from a number.
  @param {Number (With Unit)} $value

  @example scss - Usage
    $dimension: strip-units(10em);

  @example css - CSS Output
    $dimension: 10;

  @return {Number (Unitless)}
*/
@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; }
  to {
    text-shadow: 0 0 35px #fff, 0 0 20px #fff, 0 0 10px #fff; } }

.section-title {
  font-size: 1.375em;
  color: #000;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem; }
  @media (min-width: 1024px) {
    .section-title {
      font-size: 2em; } }

iframe {
  width: 100%; }

.page__content {
  width: calc(100% - 50px);
  float: left;
  margin-left: 25px; }
  @media (min-width: 1024px) {
    .page__content {
      width: calc(50% - 37.5px);
      float: left;
      margin-left: 25px;
      margin-left: calc(25% - 31.25px + 50px); } }
  .page__content p {
    margin-bottom: 1.5625rem;
    line-height: 1.5; }

.page__title {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.5;
  border-bottom: 1px solid #000;
  margin-top: 2.1875rem;
  margin-bottom: 1.5625rem; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nmf0k1");
  src: url("../fonts/icomoon.eot?nmf0k1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nmf0k1") format("truetype"), url("../fonts/icomoon.woff?nmf0k1") format("woff"), url("../fonts/icomoon.svg?nmf0k1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bubbles3:before {
  content: "\e96f"; }

.icon-mail4:before {
  content: "\ea86"; }

.icon-twitter:before {
  content: "\ea96"; }

.speakers .cta {
  font-size: 0.9375em;
  border-radius: 2.5rem;
  padding: 0.9375rem;
  max-width: 12.1875rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  @media (min-width: 1440px) {
    .speakers .cta {
      padding: 1.25rem 0.9375rem;
      max-width: 13.1875rem;
      font-size: 1em; } }

.link {
  color: #fff;
  transition: all .3s ease-in-out; }
  .link:hover, .link:focus {
    color: #E4D785; }

.social-media__links li {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.9375rem; }
  @media (min-width: 768px) {
    .social-media__links li {
      font-size: 1.25em;
      margin-left: 1.875rem; } }
  @media (min-width: 768px) {
    .social-media__links li:first-child {
      margin-left: 0; } }

.social-media__links a {
  font-weight: normal;
  cursor: pointer; }
  .social-media__links a:focus, .social-media__links a:hover {
    color: #E4D785; }

.social-media__links small {
  font-size: 0.75em; }

.social-media__links i {
  font-size: 1.125em;
  margin-right: 0.3125rem;
  vertical-align: middle; }

.header {
  background-color: #242E64;
  height: 5.3125rem;
  width: 100%;
  position: relative; }
  .header--fixed {
    position: fixed;
    top: 0;
    z-index: 2; }
  .header__logo {
    font-size: 1.5em;
    width: 100%; }
    @media (min-width: 1024px) {
      .header__logo {
        width: auto;
        float: left; } }
    .header__logo span {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 1.4375rem;
      width: 13.8125rem;
      color: #fff;
      font-weight: 800; }
      @media (min-width: 1024px) {
        .header__logo span {
          position: static;
          transform: none;
          margin-left: 6.25rem;
          margin-top: 2rem;
          display: block; } }
    .header__logo img {
      width: 2.8125rem;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0; }
      @media (min-width: 1024px) {
        .header__logo img {
          width: 4.25rem; } }
  .header__nav {
    width: 100%;
    text-align: center;
    margin-top: 3.75rem; }
    @media (min-width: 1024px) {
      .header__nav {
        width: auto;
        float: right;
        margin-right: 1.5625rem;
        margin-top: 3.125rem; } }
    .header__nav li {
      display: inline-block; }
      @media (min-width: 1024px) {
        .header__nav li {
          margin-left: 0.9375rem; } }
    .header__nav a {
      color: #fff;
      padding: 0.3125rem;
      font-weight: bold;
      text-align: center; }
      @media (min-width: 1024px) {
        .header__nav a {
          font-size: 1.5625em; } }
      .header__nav a:hover, .header__nav a:focus, .header__nav a.active {
        color: #E4D785; }

.footer {
  background-color: #2F2348;
  color: #fff;
  text-align: center;
  padding: 2.1875rem 0 0.625rem; }
  .footer p {
    max-width: 80%;
    margin: 0 auto 1.25rem; }
  .footer__cta {
    margin-bottom: 1.25rem;
    display: inline-block; }
  .footer .social-media__links li {
    display: block; }

.hero {
  height: 31vh;
  background-size: cover;
  position: relative; }
  @media (min-width: 1024px) {
    .hero {
      height: 40vh;
      background-position: center; } }
  .hero__main-title {
    margin: 0 auto 1.5625rem;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Exo";
    color: #fff; }
    @media (min-width: 1024px) {
      .hero__main-title {
        font-size: 3.75em; } }
  .hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 90%;
    text-align: center; }

.about__hero {
  background-image: url("../img/background.jpg");
  background-color: #242E64;
  background-blend-mode: exclusion; }

.about__hero__main-title {
  color: #fff; }

.about__hero__subtitle {
  font-size: 1em;
  color: #fff; }
  @media (min-width: 1024px) {
    .about__hero__subtitle {
      font-size: 1.875em; } }

.about__links {
  padding: 2.1875rem 1rem 1.25rem; }
  @media (min-width: 768px) {
    .about__links {
      text-align: center; } }
  .about__links li {
    color: #000; }

.speakers {
  background-color: #E6E6E6;
  height: 24.375rem;
  padding-top: 3.75rem;
  text-align: center; }
  .speakers .section-title {
    color: #000; }
  .speakers .cta {
    background-color: #242E64;
    color: #fff;
    display: inline-block;
    width: 11.25rem; }
    .speakers .cta:hover, .speakers .cta:focus {
      background-color: #E4D785; }
  .speakers p {
    font-size: 1em;
    color: #000;
    width: 80%;
    line-height: 1.4;
    margin: 1.5625rem auto 1.25rem; }
  .speakers__title {
    font-size: 1.25em;
    margin-top: 1.5625rem; }
  .speakers .link {
    color: #405BA8; }

.where {
  padding: 2.8125rem 1rem 1.25rem; }
  .where .section-title {
    color: #242E64;
    margin-bottom: 1.5625rem;
    text-align: center; }
    @media (min-width: 1024px) {
      .where .section-title {
        text-align: left; } }
  .where p {
    line-height: 1.3;
    margin-bottom: 1.25rem;
    text-align: center; }
    @media (min-width: 1024px) {
      .where p {
        text-align: left; } }
  @media (min-width: 1024px) {
    .where__container {
      width: calc(50% - 37.5px);
      float: left;
      margin-left: 25px; } }
  @media (min-width: 1024px) {
    .where iframe {
      width: calc(50% - 37.5px);
      float: left;
      margin-left: 25px; } }

html {
  font-size: 16px;
  font-family: "Exo"; }

body * {
  box-sizing: border-box; }
