/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0;
  border: 0;
  -webkit-appearance: none; }

img {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: 0 none; }

.group,
.clear {
  *zoom: 1; }
  .group:before, .group:after,
  .clear:before,
  .clear:after {
    content: " ";
    display: table; }
  .group:after,
  .clear:after {
    clear: both; }

/* use http://chir.ag/projects/name-that-color/ to name colors the good way
http://paletton.com/#uid=33T0u0knsimdjs-iSmYsBdcAk8d */
@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; }
  to {
    text-shadow: 0 0 35px #fff, 0 0 20px #fff, 0 0 10px #fff; } }

.section-title {
  font-size: 1.25em;
  color: #000;
  font-weight: bold;
  line-height: 1.3;
  margin-top: .9375rem;
  margin-bottom: 2.1875rem; }
  @media (min-width: 1024px) {
    .section-title {
      font-size: 1.5625em; } }

iframe {
  width: 100%; }

.page__content {
  width: calc(100% - 50px);
  float: left;
  margin-left: 25px; }
  @media (min-width: 1024px) {
    .page__content {
      width: calc(50% - 37.5px);
      float: left;
      margin-left: 25px;
      margin-left: calc(25% - 31.25px + 50px); } }
  .page__content p {
    margin-bottom: 2.1875rem;
    line-height: 1.5; }

.page__title {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  border-bottom: 1px solid #000;
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem; }

.section-infobox {
  padding: 2rem 1rem;
  background-color: #E6E6E6;
  line-height: 1.5; }
  .section-infobox__title {
    font-size: 1.125em;
    color: #242E64;
    font-weight: bold;
    margin-bottom: 1em; }

.inner-section {
  margin-top: 2rem;
  max-width: 61.35rem;
  margin-left: auto;
  margin-right: auto; }
  .inner-section .section-title {
    text-align: center;
    color: #242E64; }
  .inner-section p {
    line-height: 1.5; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nmf0k1");
  src: url("../fonts/icomoon.eot?nmf0k1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nmf0k1") format("truetype"), url("../fonts/icomoon.woff?nmf0k1") format("woff"), url("../fonts/icomoon.svg?nmf0k1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bubbles3:before {
  content: "\e96f"; }

.icon-mail4:before {
  content: "\ea86"; }

.icon-twitter:before {
  content: "\ea96"; }

.speakers .cta {
  font-size: 0.9375em;
  border-radius: 2.5rem;
  padding: 0.9375rem;
  max-width: 12.1875rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  @media (min-width: 1440px) {
    .speakers .cta {
      padding: 1.25rem 0.9375rem;
      max-width: 13.1875rem;
      font-size: 1em; } }

.link {
  color: #fff;
  transition: all .3s ease-in-out; }
  .link:hover, .link:focus {
    color: #E4D785; }

.social-media__links li {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: .9375rem; }
  @media (min-width: 768px) {
    .social-media__links li {
      font-size: 1.25em;
      margin-left: 1.875rem; } }
  @media (min-width: 768px) {
    .social-media__links li:first-child {
      margin-left: 0; } }

.social-media__links a {
  font-weight: normal;
  cursor: pointer; }
  .social-media__links a:focus, .social-media__links a:hover {
    color: #E4D785; }

.social-media__links small {
  font-size: .75em; }

.social-media__links i {
  font-size: 1.125em;
  margin-right: .3125rem;
  vertical-align: middle; }

.header {
  background-color: #242E64;
  height: 5.3125rem;
  width: 100%;
  position: relative;
  /* Toggle functionality */ }
  .header--fixed {
    position: fixed;
    top: 0;
    z-index: 2; }
  .header__logo {
    font-size: 1.5em;
    width: 100%; }
    @media (min-width: 1024px) {
      .header__logo {
        width: auto;
        float: left; } }
    .header__logo span {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 1.4375rem;
      width: 13.8125rem;
      color: #fff;
      font-weight: 800; }
      @media (min-width: 1024px) {
        .header__logo span {
          position: static;
          transform: none;
          margin-left: 6.25rem;
          margin-top: 2rem;
          display: block; } }
    .header__logo img {
      width: 2.8125rem;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0; }
      @media (min-width: 1024px) {
        .header__logo img {
          width: 4.25rem; } }
  .header__nav {
    text-align: center;
    float: right;
    display: inline-block;
    margin: 12px 25px;
    pointer-events: none;
    transition: 0.5s; }
    @media (min-width: 1024px) {
      .header__nav {
        display: block;
        pointer-events: auto;
        width: auto;
        float: right;
        margin: 2.125rem 1.5625rem 0 0; } }
    @media (min-width: 1024px) {
      .header__nav li {
        display: inline-block;
        margin-left: .9375rem; } }
    .header__nav a {
      color: #fff;
      padding: .3125rem;
      font-weight: bold;
      text-align: center;
      position: relative;
      display: inline-block;
      float: left;
      clear: both;
      color: transparent;
      letter-spacing: -6.2px;
      height: 7px;
      line-height: 7px;
      white-space: nowrap;
      transform: scaleY(0.2);
      transition: 0.5s, opacity 1s; }
      .header__nav a:nth-child(1) {
        transition-delay: 0s; }
        .header__nav a:nth-child(1):before {
          transition-delay: 0s; }
      .header__nav a:nth-child(2) {
        transition-delay: 0.05s; }
        .header__nav a:nth-child(2):before {
          transition-delay: 0.05s; }
      .header__nav a:nth-child(3) {
        transition-delay: 0.1s; }
        .header__nav a:nth-child(3):before {
          transition-delay: 0.1s; }
      .header__nav a:nth-child(4) {
        transition-delay: 0.15s; }
        .header__nav a:nth-child(4):before {
          transition-delay: 0.15s; }
      .header__nav a:nth-child(5) {
        transition-delay: 0.2s; }
        .header__nav a:nth-child(5):before {
          transition-delay: 0.2s; }
      .header__nav a:nth-child(6) {
        transition-delay: 0.25s; }
        .header__nav a:nth-child(6):before {
          transition-delay: 0.25s; }
      .header__nav a:nth-child(1) {
        letter-spacing: -8px; }
      .header__nav a:nth-child(2) {
        letter-spacing: -7px; }
      .header__nav a:nth-child(n + 4) {
        letter-spacing: -8px;
        margin-top: -7px;
        opacity: 0; }
      .header__nav a:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: translateY(-50%) scaleY(5);
        transition: 0.5s; }
      @media (min-width: 1024px) {
        .header__nav a {
          font-size: 1.25em;
          height: auto;
          float: none;
          transform: none;
          line-height: 1;
          letter-spacing: normal !important;
          color: #fff; }
          .header__nav a:before {
            content: '';
            display: none; } }
      .header__nav a:hover, .header__nav a:focus, .header__nav a.active {
        color: #E4D785; }
  @media (min-width: 1024px) {
    .header #toggle {
      display: none; } }
  @media (max-width: 1023px) {
    .header {
      /* Toggle button */ }
      .header #toggle {
        position: absolute;
        left: -100%;
        top: -100%; }
      .header #toggle:focus ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7), inset 0 0 0 20px rgba(0, 0, 0, 0.7); }
      .header #toggle:checked ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 350px rgba(0, 0, 0, 0.7), inset 0 0 0 20px rgba(0, 0, 0, 0.7); }
        .header #toggle:checked ~ .toggle-container .button-toggle:before {
          transform: translateY(-50%) rotate(45deg) scale(1); }
        .header #toggle:checked ~ .toggle-container .button-toggle:after {
          transform: translateY(-50%) rotate(-45deg) scale(1); }
      .header #toggle:checked ~ .header__nav {
        margin-top: 100px;
        pointer-events: auto;
        z-index: 999;
        position: relative; }
        .header #toggle:checked ~ .header__nav .header__nav__link {
          color: #fff;
          letter-spacing: 0;
          height: 40px;
          line-height: 40px;
          margin-top: 0;
          opacity: 1;
          transform: scaleY(1);
          transition: 0.5s, opacity 0.1s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(1) {
            transition-delay: 0.25s; }
            .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(1):before {
              transition-delay: 0.25s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(2) {
            transition-delay: 0.2s; }
            .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(2):before {
              transition-delay: 0.2s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(3) {
            transition-delay: 0.15s; }
            .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(3):before {
              transition-delay: 0.15s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(4) {
            transition-delay: 0.1s; }
            .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(4):before {
              transition-delay: 0.1s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(5) {
            transition-delay: 0.05s; }
            .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(5):before {
              transition-delay: 0.05s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(6) {
            transition-delay: 0s; }
            .header #toggle:checked ~ .header__nav .header__nav__link:nth-child(6):before {
              transition-delay: 0s; }
          .header #toggle:checked ~ .header__nav .header__nav__link:before {
            opacity: 0; }
      .header .button-toggle {
        position: absolute;
        display: inline-block;
        width: 70px;
        height: 100%;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        cursor: pointer;
        transition: 0.6s; }
        .header .button-toggle:before, .header .button-toggle:after {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          transition: 0.5s; }
        .header .button-toggle:before {
          transform: translateY(-50%) rotate(45deg) scale(0); }
        .header .button-toggle:after {
          transform: translateY(-50%) rotate(-45deg) scale(0); } }

.footer {
  background-color: #2F2348;
  color: #fff;
  text-align: center;
  padding: 2.1875rem 0 0.625rem; }
  .footer p {
    max-width: 80%;
    margin: 0 auto 1.25rem; }
  .footer__cta {
    margin-bottom: 1.25rem;
    display: inline-block; }
  .footer .social-media__links li {
    font-size: .875em; }

.hero {
  height: 31vh;
  background-size: cover;
  position: relative; }
  @media (min-width: 1024px) {
    .hero {
      height: 40vh;
      background-position: center; } }
  .hero__main-title {
    margin: 0 auto 1.5625rem;
    font-size: 1.875em;
    font-weight: bold;
    font-family: "Exo";
    color: #fff; }
    @media (min-width: 1024px) {
      .hero__main-title {
        font-size: 2.5em; } }
  .hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 90%;
    text-align: center; }
  .hero__cta {
    background-color: #E4D785;
    padding: .75rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 1.125rem;
    display: inline-block;
    transition: all .3s ease-in-out; }
    .hero__cta:hover {
      color: #fff;
      background-color: #405BA8; }

.about__hero {
  background-image: url("../img/background.jpg");
  background-color: #242E64;
  background-blend-mode: exclusion; }

.about__hero__main-title {
  color: #fff; }

.about__hero__subtitle {
  font-size: 1em;
  color: #fff; }
  @media (min-width: 1024px) {
    .about__hero__subtitle {
      font-size: 1.875em; } }

.about__links {
  padding: 2.1875rem 1rem 1.25rem; }
  @media (min-width: 768px) {
    .about__links {
      text-align: center; } }
  .about__links li {
    color: #000; }

.speakers {
  border-top: 1px solid #E4D785;
  background-color: #fff;
  padding-top: 3.75rem;
  text-align: center; }
  @media (min-width: 768px) {
    .speakers .speakers__container::after {
      clear: both;
      content: "";
      display: block; } }
  .speakers .section-title {
    color: #000; }
  .speakers .main__title {
    font-size: 1.975em;
    margin: 0 0 1em; }
  .speakers .cta {
    background-color: #242E64;
    color: #242E64;
    display: inline-block;
    width: 11.25rem; }
    .speakers .cta:hover, .speakers .cta:focus {
      background-color: #E4D785; }
  .speakers__item {
    text-align: left;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .speakers__item {
        width: calc(50% - 37.5px);
        float: left;
        margin-left: 25px; } }
    .speakers__item img {
      max-width: 15rem;
      height: 12.5rem;
      object-fit: cover;
      margin: 0 auto 2rem;
      border: 2px solid #405BA8;
      border-radius: 5px; }
  .speakers__item__name {
    font-size: 1.125em;
    margin-left: 1rem;
    margin-right: 1rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    text-align: center; }
  .speakers__item__text {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    margin-top: 1.250rem;
    line-height: 1.8;
    font-size: 1em; }

.where {
  padding: 2.8125rem 1rem 1.25rem; }
  .where .section-title {
    color: #242E64;
    margin-bottom: 1.5625rem;
    text-align: center; }
    @media (min-width: 1024px) {
      .where .section-title {
        text-align: left;
        max-width: 80%; } }
    @media (min-width: 1440px) {
      .where .section-title {
        max-width: 70%; } }
  .where p {
    line-height: 1.3;
    margin-bottom: 1.25rem;
    text-align: center; }
    @media (min-width: 1024px) {
      .where p {
        text-align: left; } }
  @media (min-width: 1024px) {
    .where__container {
      width: calc(50% - 37.5px);
      float: left;
      margin-left: 25px; } }
  @media (min-width: 1024px) {
    .where iframe {
      width: calc(50% - 37.5px);
      float: left;
      margin-left: 25px; } }

.info {
  padding: 1em;
  border-top: 1px solid #E4D785; }
  .info p {
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left; }
  .info > .section-title {
    color: #242E64;
    margin-bottom: 1.5625rem;
    text-align: center; }
  .info__subtitle {
    font-size: .75em;
    text-align: center; }
    @media (min-width: 1024px) {
      .info__subtitle {
        font-size: 1em; } }
  .info .link {
    color: #242E64;
    border-bottom: 1px solid;
    transition: all .3s ease-in-out; }
    .info .link:hover {
      color: #E4D785;
      border-color: #E4D785; }
  .info .hero__cta {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .info .hero__cta {
        max-width: 17.81rem; } }
    @media (min-width: 1024px) {
      .info .hero__cta {
        font-size: 1.5em;
        max-width: 29rem;
        padding-top: 1.125rem;
        padding-bottom: 1.125rem; } }
  .info__list {
    padding-left: 1em;
    list-style-type: disc;
    list-style-position: outside; }
    @media (min-width: 1024px) {
      .info__list {
        margin-top: 2rem; }
        .info__list::after {
          clear: both;
          content: "";
          display: block; } }
    .info__list li {
      margin-bottom: 1.5rem; }
      @media (min-width: 1024px) {
        .info__list li {
          width: calc(33.33333% - 33.33333px);
          float: left;
          margin-left: 25px; } }
    .info__list .link {
      display: inline-block;
      border: 0 none;
      line-height: 1.5; }
  .info__list__title {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: .125rem; }

.schedule {
  border-top: 1px solid #E4D785;
  background-color: #fff;
  padding-top: 3.75rem;
  text-align: center; }
  .schedule__container::after {
    clear: both;
    content: "";
    display: block; }
  .schedule .section-title {
    color: #000; }
  .schedule .main__title {
    font-size: 1.975em;
    margin: 0 0 1em; }
  .schedule__item {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    width: calc(50% - 37.5px);
    float: left;
    margin-left: 25px; }
    @media (min-width: 1024px) {
      .schedule__item {
        width: calc(25% - 31.25px);
        float: left;
        margin-left: 25px; } }
  .schedule__item__top {
    background-color: #f8f8f8;
    padding: .5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .625rem; }
  .schedule__item__main {
    padding: .5rem; }
    .schedule__item__main span {
      float: right;
      margin-right: 1.125rem; }
    .schedule__item__main p {
      line-height: 1.5;
      margin-bottom: .5rem; }
    .schedule__item__main h4 {
      font-weight: bold;
      color: #405BA8;
      max-width: 80%;
      margin-bottom: .9375rem; }
  .schedule__item__time {
    font-size: .875em; }
  .schedule iframe {
    width: 90%; }

.sponsors {
  border-top: 1px solid #E4D785;
  background-color: #fff;
  padding-top: 3.75rem;
  text-align: center; }
  .sponsors__container::after {
    clear: both;
    content: "";
    display: block; }
  .sponsors .main__title {
    font-size: 1.975em;
    margin: 0 0 1em; }
  .sponsors__item {
    border: 0 none;
    margin-bottom: 2.5rem;
    width: calc(25% - 31.25px);
    float: left;
    margin-left: 25px; }
    .sponsors__item img {
      max-width: 80%;
      margin: 0 auto;
      display: block; }
    @media (min-width: 1024px) {
      .sponsors__item {
        width: calc(16.66667% - 29.16667px);
        float: left;
        margin-left: 25px; } }

html {
  font-size: 16px;
  font-family: "Exo"; }

body * {
  box-sizing: border-box; }
