{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}
{% load cache %}

{% block head_title %}Agenda{% endblock %}

{% block body_class %}schedule{% endblock %}

{% block right %}
{% endblock %}

{% block body %}
  <div class="page-head">
      <h2>Agenda</h2>
      <p>Los talleres "Taller de Programación para Mujeres Django Girls" y "Introducción a deep learning con Python: El despertar de la fuerza" tienen cupos limitados y requieren inscripción previa:</p>
      <p><strong>Django Girls:</stron> Taller de Programación para Mujeres Django Girls: <a href="https://argentinaenpython.com/django-girls-en-pyconar-2016/" target="_blank">https://argentinaenpython.com/django-girls-en-pyconar-2016/</a></p>
      <p><strong>Introducción a deep learning con Python:</strong> El despertar de la fuerza: <a href="bit.ly/tallerdeeplearning" target="_blank">bit.ly/tallerdeeplearning</a></p>

      {% block breadcrumbs %}{% endblock %}
  </div>
  {% box "schedule_top" %}

  {% for section in sections %}
      {% cache 600 "schedule-table" section.schedule.section %}
          {% for timetable in section.days %}
              <h3>{{ section.schedule.section.name }} — {{ timetable.day.date }}</h3>
              {% include "symposion/schedule/_grid.html" %}
          {% endfor %}
      {% endcache %}
  {% endfor %}

  {% box "schedule_bottom" %}
{% endblock %}
